<footer>
    <ul>
        <!-- <p>Quick Links</p> -->
        <li> <a href="/"><img class="shift-down" src="/images/home.png" alt="" width="20px"> Home</a></li>
        <li> <a href="/community"><img class="shift-down" src="/images/speech-bubble.png" alt="" width="20px">Community</a></li>
        <li> <a href="/about"><img class="shift-down" src="/images/info.png" alt="" width="20px">About Us</a></li>
    </ul>

    <ul>
        <li> Contact Us</li>
        <li>Email: Rahhaleh@info.com</li>
        <li>Phone: +96277788855</li>

    </ul>

    <p id="footer-p">
        Rahhaleh is a website to search for all flights information such as debarture/arrival, AirLine, flight
        number, and more!
        Also, you can review each flight and see others reviews.
        Explore our community to decide about your next flight. <br><br>
        &copy; Rahhaleh team 2021

    </p>

    <ul id="logos">
        <li><a href="#"><img src="/images/facebook (1).png" alt="" width="30px"></a></li>
        <li><a href="#"><img src="/images/email.png" alt="" width="30px"></a></li>
        <li><a href="#"><img src="/images/linkedin.png" alt="" width="30px"></a></li>
    </ul>

</footer>