<nav>

    <img id="site-logo" src="/images/logo4.png" alt="logo" width="150px">
    <img id="burgerButton" src="/images/nav.png" alt="nav" width="40px" onclick="showNav()">
    <ul id="navDisplay">

        <a href="/"><li><img class="shift-down" src="/images/home.png" alt="" width="20px"> Home</li></a>
        <a href="/community"><li><img class="shift-down" src="/images/speech-bubble.png" alt="" width="20px">Community</li></a>
        <a href="/about"><li><img class="shift-down" src="/images/info.png" alt="" width="20px">About Us</li></a>
    
    </ul>
</nav>

<script src="/js/app.js"></script>
