<nav>
    <img src="/images/logo-3.png" alt="logo" width="150px">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/community"><li>Community</li></a>
        <a href="/about"><li>About Us</li></a>
    </ul>
</nav>