<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/search" method="post">
            <label for="">airline name <input type="text" name="airline"></label>
            <br>
            <label for="">flight number <input type="text" name="flightnumber"></label>
            <br>
            <label for="">Departure <input type="text" name="departure"></label>
            <br>
            <label for="">Arrival <input type="text" name="arrival"></label>
            <br>
            <button type="submit">search</button>
        </form>
        


    </main>
</body>
</html>