main{
    min-height: 600px;
    max-width: 1360px;

}
#header form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: min-content;
    width: min-content;
    border-radius: 10px;
}
#header form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header form input{
    margin: 0 20px;
    width: 150px;
    height: 20px;
    background: white;
    border-radius: 5px;
    padding: 10px;
}
#header form button{
    color: var(--color-2);
    border: 2px solid var(--color-2);
    border-radius: 0px;
    padding: 9px 18px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--color-2);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 10px;
    width:300px;
    margin-top: 10px;;
}
#header form button:hover{
    box-shadow: inset 0 0 0 50px var(--color-2);
    color:var(--color-1)
}

#header{
    background-image: url('/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    border: white 1px solid;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#airline-cards{
    border: white 1px solid;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
