@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=New+Tegomin&display=swap');
:root{
    --color-1:#B1D4E0;
    --color-2:#0C2D48;
    --color-3:#16222c;
    --color-4:#2E8BC0;
    --color-5:#145DA0;
}
*{
    font-family: 'Kiwi Maru', serif;
}
body{
    background-color: var(--color-1);
    /*font-family: 'New Tegomin', serif;*/
    font-family: 'Kiwi Maru', serif;
}
nav{
    background-color: transparent;
    font-size: 18px;
}
footer{
    background-color: var(--color-3);
    color: var(--color-4);

}
form div{
    background-color:#0c2d485d;
}
form input{
    border: solid 1px var(--color-5);
}
form button{

}

/* review page */
#showSection{
    font-family: 'Kiwi Maru', serif;
    font-size: 18px;
}
#showSection div ul li:nth-child(1){
    color:var(--color-1);
    border-bottom:2px solid var(--color-1);
}
#showSection div ul li:hover{
    color: var(--color-5);  
}
#communitySection {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
}
nav ul li{
    color: var(--color-2);
    font-weight: bold;
/*     background-color: var(--color-2);
 */}


