<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head')%>
        <title>About Us</title>
</head>

<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="team-section">
            <P id="a">
                <b style="font-size: 30px;">  Who We Are? </b><br>
                <b>Rahhaleh </b> is a website to search for all flights information such as debarture/arrival, AirLine, flight
                number, and more!
                Also, you can review each flight and see others reviews.
                Explore our community to decide about your next flight,check what others have expirenced with the
                Airline.
                each Airline is rated so you can pick up the best one.</P>

                <div id="e" class="hvr-bob">
                    <img class="personImage" src="https://avatars.githubusercontent.com/u/77914823?s=400&u=ef26ada9f328364709f0683eac61b1ed0326ab53&v=4" alt="">
                        <h4>Omar-zoubi<br> software developer</h4>
                        <a href="https://github.com/Omar-zoubi"> <img  class="logo1" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"></a>
                        <a href="https://mobile.facebook.com/home.php#_=_"> <img class="logo1"  src="/images/fbicon.jpg" height="35" , width="35"></a>
                        <a href="https://www.linkedin.com/in/omar-alzoubi-54034bb4/"> <img class="logo1"  src="/images/linkedin.jpg" ></a>
                </div>
                <div id="f"  class="hvr-bob">
                    <img class="personImage" src="https://avatars.githubusercontent.com/u/77915137?v=4" alt="">
                    <h4>Aya Azzam<br> software developer</h4>
                    <a href="https://github.com/ayaazzam24"> <img class="logo1" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"></a>
                    <a href="https://web.facebook.com/ayaazzam22/"> <img class="logo1"  src="/images/fbicon.jpg"></a>
                    <a href="https://www.linkedin.com/in/aya-azzam-531202206/"> <img class="logo1"  src="/images/linkedin.jpg"></a>
                </div>
                <div id="d" class="hvr-bob">
                    <img class="personImage" src="https://avatars.githubusercontent.com/u/77916243?v=4" alt="">
                    <h4>Areen Jaradat<br> software developer</h4>
                    <a href="https://github.com/areenjaradat"> <img class="logo1"  src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"></a>
                    <a href="#"> <img class="logo1"  src="/images/fbicon.jpg"></a>
                    <a href="https://www.linkedin.com/in/areen-jaradat-84a905196/"> <img class="logo1"  src="/images/linkedin.jpg"></a>
                </div>



                <div id="c"  class="hvr-bob">
                    <img class="personImage" src="https://avatars.githubusercontent.com/u/77916484?v=4" alt="">
                    <h4>Ahmad Abo-Yahya <br> software developer</h4>
                    <a href="https://github.com/AhmadAbuyahya"> <img class="logo1"  src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"></a>
                    <a href="#"> <img class="logo1"  src="/images/fbicon.jpg"></a>
                    <a href="https://github.com/AhmadAbuyahya"> <img class="logo1"  src="/images/linkedin.jpg"></a>
                </div>

                <div id="b" class="hvr-bob">
                    <img  class="personImage" src="https://avatars.githubusercontent.com/u/77916102?v=4" alt="">
                    <h4>Nizar Al-Saeed <br> software developer</h4>
                    <a href="https://github.com/NizarAlsaeed"> <img class="logo1" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"></a>
                    <a href="#"> <img class="logo1"  src="/images/fbicon.jpg"></a>
                    <a href="https://www.linkedin.com/in/nizaralsaeed/"> <img class="logo1"  src="/images/linkedin.jpg"></a>
                </div>
    



          

        </section>
    </main>
    <%-include('../partials/footer')%>
</body>

</html>