<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head')%>
        <title>About Us</title>
</head>

<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>

        <section >
            <P id="a">
                Rahhaleh is a website to search for all flights information such as debarture/arrival, AirLine, flight
                number, and more!
                Also, you can review each flight and see others reviews.
                Explore our community to decide about your next flight,check what others have expirenced with the
                Airline.
                each Airline is rated so you can pick up the best one.</P>

            <div id="b" class="hvr-bob">
                <img src="https://avatars.githubusercontent.com/u/77914823?s=400&u=ef26ada9f328364709f0683eac61b1ed0326ab53&v=4" alt="">
                    <h4>Omar-zoubi software developer</h4>
                    <a href="https://github.com/Omar-zoubi"> <img  class="logo" src="https://cdn.iconscout.com/icon/free/png-256/github-154-675675.png"></a>
            </div>
            <div id="c" class="hvr-bob">
                <img src="https://avatars.githubusercontent.com/u/77915137?v=4" alt="">
                <h4>Aya Azzam software developer</h4>
                <a href="https://github.com/ayaazzam24"> <img class="logo" src="https://cdn.iconscout.com/icon/free/png-256/github-154-675675.png"></a>
            </div>
            <div id="d" class="hvr-bob">
                <img src="https://avatars.githubusercontent.com/u/77916243?v=4" alt="">
                <h4>Areen Jaradat software developer</h4>
                <a href="https://github.com/areenjaradat"> <img class="logo"  src="https://cdn.iconscout.com/icon/free/png-256/github-154-675675.png"></a>
            </div>
            <div id="e" class="hvr-bob">
                <img src="https://avatars.githubusercontent.com/u/77916484?v=4" alt="">
                <h4>Ahmad Abo-Yahya software developer</h4>
                <a href="https://github.com/AhmadAbuyahya"> <img class="logo"  src="https://cdn.iconscout.com/icon/free/png-256/github-154-675675.png"></a>
            </div>

            <div id="f" class="hvr-bob">
                <img src="https://avatars.githubusercontent.com/u/77916102?v=4" alt="">
                <h4>Nizar Al-Saeed software developer</h4>
                <a href="https://github.com/NizarAlsaeed"> <img class="logo" src="https://cdn.iconscout.com/icon/free/png-256/github-154-675675.png"></a>
            </div>


        </section>
    </main>
    <%-include('../partials/footer')%>
</body>

</html>