<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/search" method="post">
            <label for="">airline name <input type="text" name="airline"></label>
            <label for="">flight number <input type="text" name="flightnumber"></label>
            <label for="">Departure <input type="text" name="departure"></label>
            <label for="">Arrival <input type="text" name="arrival"></label>
            <button type="submit">search</button>
        </form>

        
    </main>
</body>
</html>